JWT_SECRET_KEY = yoursecretkey
JWT_ALGORITHM = HS256 #default HS256
JWT_EXPIRY = 30 #default 30 minutes

DATABASE_URL = yourdatabase_address

MAIL_USERNAME = yourusername
MAIL_PASSWORD = your_password
MAIL_FROM = yourmail@gmail.com #default
MAIL_PORT = port #default 587
MAIL_SERVER = your_mail_domain_name #default smtp.gmail.com
MAIL_FROM_NAME= Fastly #default


DOMAIN=yourdomain:port

